html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: lightsteelblue;
}
p {
  padding: 10px;
}

h1 h2 h3 {
  font-family: 'Alice', serif;
}

.container {
  display: flex;
}

.container header p {
  background-color: white;
  text-align: center;
  width: 100%;
}
.container header ul{
  display: flex;
}

.container header ul li {
  list-style: none;
  margin: 10px;
  color: white;
}

aside { 
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 15px;
  margin-bottom: 5px;
}

.main-content {
  border-radius: 15px;
  
}

.main-content h1 {
  text-align: center;
  margin: 50px;
}

.main-content p {
  margin: 10px;
  text-align: justify;
}

aside h2 {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }


  p {
      padding: 0 5px;
      line-height: 1.5em;
    }
  footer {
    background-color: white;
  }

  
    /* TODO */
  }
  
  @media screen and (min-width: 600px) {
    
    .container {
      flex-wrap: wrap;
    }
  
    /* TODO */
  }
  
  /* @media screen and (min-width: 1000px) {
    body {
      background-color: lightgreen;
    }
  
    .container {
      flex-wrap: nowrap;
    }
  
    /* TODO */
  } */